/* https://github.com/catppuccin/highlightjs/commit/79a8acc */

code.hljs {
  color: #cad3f5 !important;
  background: #1e2030 !important;
}
code .hljs-keyword {
  color: #c6a0f6 !important;
}
code .hljs-built_in {
  color: #ed8796 !important;
}
code .hljs-type {
  color: #eed49f !important;
}
code .hljs-literal {
  color: #f5a97f !important;
}
code .hljs-number {
  color: #f5a97f !important;
}
code .hljs-operator {
  color: #91d7e3 !important;
}
code .hljs-punctuation {
  color: #b8c0e0 !important;
}
code .hljs-property {
  color: #8bd5ca !important;
}
code .hljs-regexp {
  color: #f5bde6 !important;
}
code .hljs-string {
  color: #a6da95 !important;
}
code .hljs-char.escape_ {
  color: #a6da95 !important;
}
code .hljs-subst {
  color: #a5adcb !important;
}
code .hljs-symbol {
  color: #f0c6c6 !important;
}
code .hljs-variable {
  color: #c6a0f6 !important;
}
code .hljs-variable.language_ {
  color: #c6a0f6 !important;
}
code .hljs-variable.constant_ {
  color: #f5a97f !important;
}
code .hljs-title {
  color: #8aadf4 !important;
}
code .hljs-title.class_ {
  color: #eed49f !important;
}
code .hljs-title.function_ {
  color: #8aadf4 !important;
}
code .hljs-params {
  color: #cad3f5 !important;
}
code .hljs-comment {
  color: #939ab7 !important;
}
code .hljs-doctag {
  color: #ed8796 !important;
}
code .hljs-meta {
  color: #f5a97f !important;
}
code .hljs-section {
  color: #8aadf4 !important;
}
code .hljs-tag {
  color: #8bd5ca !important;
}
code .hljs-name {
  color: #c6a0f6 !important;
}
code .hljs-attr {
  color: #8aadf4 !important;
}
code .hljs-attribute {
  color: #a6da95 !important;
}
code .hljs-bullet {
  color: #8bd5ca !important;
}
code .hljs-code {
  color: #a6da95 !important;
}
code .hljs-emphasis {
  color: #ed8796 !important;
  font-style: italic !important;
}
code .hljs-strong {
  color: #ed8796 !important;
  font-weight: bold !important;
}
code .hljs-formula {
  color: #8bd5ca !important;
}
code .hljs-link {
  color: #7dc4e4 !important;
  font-style: italic !important;
}
code .hljs-quote {
  color: #a6da95 !important;
  font-style: italic !important;
}
code .hljs-selector-tag {
  color: #eed49f !important;
}
code .hljs-selector-id {
  color: #8aadf4 !important;
}
code .hljs-selector-class {
  color: #8bd5ca !important;
}
code .hljs-selector-attr {
  color: #c6a0f6 !important;
}
code .hljs-selector-pseudo {
  color: #8bd5ca !important;
}
code .hljs-template-tag {
  color: #f0c6c6 !important;
}
code .hljs-template-variable {
  color: #f0c6c6 !important;
}
code .hljs-addition {
  color: #a6da95 !important;
  background: rgba(166, 218, 149, 0.15) !important;
}
code .hljs-deletion {
  color: #ed8796 !important;
  background: rgba(237, 135, 150, 0.15) !important;
}
